body { background-image: url(./imagen/mate.jpg); background-size: cover; background-position: center; background-repeat: no-repeat; }

h1 { color: white; font-style: italic; font: xx-large;; text-align: center; background-color: coral; text-decoration: underline;}
h2 { color: aliceblue;font-style: initial;font-size: x-large; text-align: center; background-color: chocolate;}
.ida { color: aliceblue;font-style: initial;font-size: x-large; text-align: center; background-color: chocolate;}

.lo {  display: flex;
    background-color: tomato;
    justify-content: center;
    align-items: center;
    height: 25vw ;
}
.lo div {
    height: 22vw;
    width: 42;
    margin: 1vw;
    background-color: bisque;
    padding: 1vw;}

.lo .media {
    display: flex;  
    justify-content: center;
    align-items: center}

    .media{
        width: 43vw;
        height: 21.5vw;    
    }
    
.lo .iframe {
    display: flex;    /* Usar flexbox para centrar contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    text-align: center;
}
.iframe{
    width: 100%;      /* 70% del ancho de la ventana */
    height: 100%;     /* 50% de la altura de la ventana */}

    .la {  display: flex;
        background-color: tomato;
        justify-content: center;
        align-items: center;
        height: 40vw ;
    }
    .la div {
        height: 30vw;
        width: 90vw;
        margin: 1vw;
        background-color: bisque;
        padding: 1vw;}



.flex-container {
    display: flex;
    background-color: tomato;
    justify-content: center;
    align-items: center;
    height: 10vw ;
}
.flex-container div {
    height: 5vw;
    margin: 1vw;
    background-color: bisque;
    padding: 1vw;

}
.flex-container .logo { 
     display: flex;  
    justify-content: center;
    align-items: center}

    .logo {
    width: 10vw;
    height: 6vw;
}
.flex-container .red { 
    display: flex;  
    justify-content: center;
    align-items: center
}

.ig {
    background-image: url(./imagen/ig.png);
    width: 4vw;
    height: 3vw;   
    background-size: 3vw;
    margin: 0.3vw;
    background-repeat: no-repeat;
    background-position: center;

}
.wsp {
    background-image: url(./imagen/wsp.png);
    width: 4vw;
    height: 4vw;   
    background-size: 4vw;
    margin: 0.3vw;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;  

}
.yt {
    background-image: url(./imagen/yt.png);
    width: 4vw;
    height: 3vw;   
    background-size: 3vw;
    margin: 0.3vw;
    background-repeat: no-repeat;
    background-position: center;

}
.fb {
    background-image: url(./imagen/fb.png);
    width: 4vw;
    height: 3vw;   
    background-size: 3vw;
    margin: 0.3vw;
    background-repeat: no-repeat;
    background-position: center;
}    
.titulo{
    display: flex;  
    justify-content: center;
    align-items: center;
    font-size: 2vw
    }

.info{
    display: flex;  
    justify-content: center;
    align-items: center;
    font-size:0.7vw;

}    

.le {  display: flex;
    background-color: tomato;
    justify-content: center;
    align-items: center;
    height: 40vw ;
}
.le div {
    height: 30vw;
    width: 90vw;
    margin: 1vw;
    background-color: bisque;
    padding: 1vw;}


    .lo {  display: flex;
        background-color: tomato;
        justify-content: center;
        align-items: center;
        height: 25vw ;
        width: 95vw;
        margin: 1vw;
    }
    .lo div {
        height: 22vw;
        width: 42;
        margin: 1vw;
        background-color: bisque;
        padding: 1vw;}
    
    .lo .media {
        display: flex;  
        justify-content: center;
        align-items: center}
    
        .media{
            width: 43vw;
            height: 21.5vw;    
        }
        
    .lo .iframe {
        display: flex;    /* Usar flexbox para centrar contenido */
        justify-content: center; /* Centrar horizontalmente */
        align-items: center; /* Centrar verticalmente */
        text-align: center;
    }
    .iframe{
        width: 100%;      /* 70% del ancho de la ventana */
        height: 100%;     /* 50% de la altura de la ventana */}
    
        .la {  display: flex;
            background-color: tomato;
            justify-content: center;
            align-items: center;
            height: 40vw ;
            width: 95vw;
            margin: 1vw;
        }
        .la div {
            height: 30vw;
            width: 90vw;
            margin: 1vw;
            background-color: bisque;
            padding: 1vw;}
    
    