h1 { color: white; font-style: italic; font-size: xx-large; text-align: center; background-color: coral; text-decoration: underline;}
h2 {background-color: bisque;text-decoration: underline; font-size: larger; font-style: italic;text-align: center;}
body { background-image: url(./imagen/mate.jpg); background-size: cover; background-position: center; background-repeat: no-repeat; }
ol {background-color: skyblue; color: white;}
ul {background-color: skyblue; color: white;}
.lo {width: 9cm; height: 5.3cm}
.rd {width: 50px;height: 50px;}

.social-icons {
    display:inline;
    margin: 15px; /* Espaciado alrededor */
    width: 30px; /* Ancho del icono */
    height: 10px; /* Alto del icono */
    margin-left: 50px; /* Espacio entre iconos */
    font-size: larger;
    background-color: antiquewhite
;
}

.float-wa {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 40px;
    right: 40px;
    border-radius: 50%; /* Bordes redondeados */
    text-align: center; /* Centrar el icono */
    z-index: 100; /* Asegurar que esté por encima de otros elementos */
    background-image: url(./imagen/wsp.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
}